/*颜色区*/
$color-primary: #3E74B3; // 主题色
$color-primary-light: rgb(255, 100, 114);//比主浅
$color-primary-heavy: rgb(230, 55, 71);//比主深

$color-contrast: #F65E5E;//主色
$color-danger: #F76B69; //重要操作按钮颜色，如删除按钮

$color-heavy: #333;//用于一级标题
$color-normal: #666;//用于二级状态
$color-light: #999;//用于辅助字、备注字
$color-red:$color-danger;//红色高亮
$color-label: #48515C; //表单label颜色


$color-bj-shallow: #F8F9FB;//浅灰色背景
$color-bj-deep: #EFF2FB;//深灰色背景

$color-border-ccc: #cccccc;//分割线深
$color-border-efe: #E5E5E5;//分割线浅

$color-step-gray: #EBECEF;//分步灰背景
$color-btnbg-gray: #BABABA; //关闭按钮灰背景
/*字体大小区*/
$fontSize-h1:24px;//大标题
$fontSize-h2:18px;//次标题
$fontSize-h3:14px;//正文标题
$fontSize-h4:12px;//正文

/*按钮区*/
$btn-up-down:10px;
$btn-left-right:20px;
$btn-width:115px;
/*高度区*/
$screen-btn-h:38px;
$screen-btn-h:38px;

/*input区*/
$input-w-normal:250px;

/*圆角区*/
$border-radius:3px;

/*间距区*/
$spacing-5:5px;
$spacing-10:10px;
$spacing-15:15px;
$spacing-20:20px;
$spacing-25:25px;
$spacing-30:30px;


/*图片区*/
$picture-mini:50px;
$picture-Small:80px;
$picture-in:120px;



// 下面为原来定义参数 仅作参考 

// $color-primary-light: rgb(255, 100, 114);
// $color-primary-heavy: rgb(230, 55, 71);
// $color-radio: #f04134;
// $color-error: #f56c6c;
// $color-primary-selected: #EB6449;

// $color-second: #4a90e2;
// $color-bg-page: #ececf0;
// $color-split: #f0f0f0;
// $color-block-split: #e8e8e8;
// $color-border: #dcdcdc;
// $color-input-default: #fea2a2;
// $color-bg-dialog: #f5f5f5;
// $color-bg-dialog-heavy: #ececf0;
// $color-split-form: #fbfbfb;
// $color-pass: #7ED321;
// $color-warn: #FA830B;
// $color-split-border: #3f3f3f;
// $color-popover:#FBF4DC;
// // 设计稿基于1920px宽度设计
// $page-width: 1300px;
// $page-header: 80px;
// $page-sidebar: 145px;
// $page-content:1140px;
// $fontsize-elg: 16px;
// $fontsize-lg: 14px;
// $fontsize-normal: 12px;
// $fontsize-sm: 10px;
// .ellipsis {
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
// }

// $color-text: #666;

// $color-primary1: #FFF5F0;
// $color-primary2: #FFD7C7;
// $color-primary3: #FFD7C7;
// $color-primary4: #FFB69E;
// $color-primary10:#59100C;
