.main{
    .el-step.is-horizontal .el-step__line{
        top: 21px;
    }
    .el-step__icon{
        width: 44px;
        height: 44px;
    }
    .el-step__title.is-process{
        font-weight: normal;
        color: $color-heavy;
    }
    .el-step__title.is-wait{
        font-weight: normal;
        // color: $color-light;
    }
    .el-breadcrumb{
        line-height:55px;
    }
    /*页面 分页 共用样式*/
    .el-pager li.active + li{
        border-left:1px solid #ccc;
    }
    .el-pagination .btn-prev,.el-pagination .btn-next{
      width:32px;
      height:32px;
      border:1px solid #ccc;
      padding:0;
      margin-right:5px;
      border-radius: 2px;

    }
    .el-pager li{
      width:32px;
      height:32px;
      border:1px solid #ccc;
      text-align: center;
      line-height:32px;
      margin:0 5px;
      border-radius: 2px;
    }
    .el-pager li.active{
      background: $color-primary;
      border-radius: 2px;
      color:#fff;
      border:none;
    }
    .el-pagination button.disabled{
      width:32px;
      height:32px;
      border:1px solid #ccc;
      padding:0;
      margin-left:5px;
      border-radius: 2px;
    }
    .el-pagination__jump{
      margin-left:10px;
      color: #999999;
      height: 32px;
    }
    .el-pagination span:not([class*=suffix]), .el-pagination button{
      height: 32px;
      line-height:32px;
    }
    .el-pagination__editor.el-input .el-input__inner{
      height: 32px;
      line-height: 32px;
      width:35px;
      border-radius: 2px;
    }
    .el-pagination .el-select .el-input .el-input__inner{
        height: 32px;
        line-height: 32px;
    }
    
    .el-button--primary.is-plain:hover, .el-button--primary.is-plain:focus{
          color: #4DA9E4;
          background: #edf6fc;
          border-color: #4DA9E4;
    }

    /*Tabs 标签页*/
.el-tabs__nav-scroll{ 
  padding-top:$spacing-20;
}
 .el-tabs__item.is-active{
      color:$color-contrast;
}
 .el-tabs__item:hover{
    color:$color-contrast;
 }
.el-tabs__active-bar{
  background-color: $color-contrast;
}
.el-tabs__item{
  padding:0 30px;
}

/*Dialog 对话框*/
.el-dialog__header{
  border-bottom:1px solid $color-border-ccc;
  padding-left:$spacing-30;
  .el-dialog__title{
    font-size:14px;
  }
  &:after{
    content:'';
    width:3px;
    height: 14px;
    background:$color-heavy;
    position: absolute;
    top:$spacing-25;
    left:$spacing-15;
  }
}
.el-dialog__footer{
  border-top:1px solid $color-border-efe;
  background: $color-bj-shallow;
  padding-top:20px;
  text-align: center;
}


/*下拉菜单*/
.el-icon--right{
  margin-left:$spacing-10;
}
}


/*登录页*/
.mail .el-tabs__nav{
  margin-left: 90px;
}
.mail .el-tabs__item{
  font-size: 18px;
  width: 60px;
  text-align: center;
}
